AUTH_SECRET=""
AUTH_URL=http://localhost:3000/api/auth

AUTH_GITHUB_ID={CLIENT_ID}
AUTH_GITHUB_SECRET={CLIENT_SECRET}

AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}

EMAIL_SERVER=YOUR_RESEND_API_KEY
EMAIL_FROM=your-email@example.com

DATABASE_URL="" # Set this to the Transaction connection pooler string you copied in Step 1
DIRECT_URL=""  # Set this to the Session connection pooler string you copied in Step 1